*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#f4f7fc;
padding:20px;
}

.container{
max-width:800px;
margin:auto;
}

h1{
text-align:center;
color:#007bff;
margin-bottom:15px;
}

.card{
background:white;
padding:20px;
margin-top:15px;
border-radius:12px;
box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

input,
select{
width:100%;
padding:10px;
margin-top:10px;
border:1px solid #ccc;
border-radius:6px;
}

button{
width:100%;
padding:10px;
margin-top:10px;
border:none;
background:#007bff;
color:white;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#0056b3;
}

.dark-btn{
margin-bottom:15px;
}

.progress{
width:100%;
height:25px;
background:#ddd;
border-radius:20px;
overflow:hidden;
margin-top:10px;
}

.progress-bar{
height:100%;
width:0%;
background:#28a745;
text-align:center;
line-height:25px;
color:white;
}

ul{
list-style:none;
}

li{
padding:10px;
margin-top:8px;
background:#f1f1f1;
border-radius:6px;
}

.delete-btn{
background:red;
width:auto;
padding:5px 10px;
margin-left:10px;
}

.dark{
background:#121212;
color:white;
}

.dark .card{
background:#1f1f1f;
color:white;
}

.dark input,
.dark select{
background:#333;
color:white;
border:1px solid #555;
}